{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="allStatistics">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne">Statistics</button>
                    <button id="exportStatisticsJson" type="button" class="float-right btn btn-primary">Export JSON<span style="margin-left: 8px;" class="fa fa-file-export"></span></button>
                </h5>
                <hr/>
                <select id="statisticsInstanceSelect" class="form-control">
                    {% for instance in INSTANCES %}
                        <option value="{{ instance.id }}">{{ instance.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div id="collapseOne" class="collapse show" data-parent="#accordion">
                <div class="card-body">
                    <div id="allStatisticsContent" style="width: 100%;">
                        {% include "statistics/statisticsTable.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="accordion2">
        <div class="card">
            <div class="card-header" id="infoStatistics">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo">Stage Progress</button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse show" data-parent="#accordion2">
                <div class="card-body">
                    <div id="infoProgressContainer" style="width: 100%;">
                        {% include "statistics/statisticsProgress.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="accordion3">
        <div class="card">
            <div class="card-header" id="infoStatistics">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree">Time Played</button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse show" data-parent="#accordion3">
                <div class="card-body">
                    <div id="infoPlayedContainer" style="width: 100%;">
                        {% include "statistics/statisticsPlayed.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static "js/allStatistics.js" %}"></script>
{% endblock %}