redis
wxPython
PySide2
PySimpleGUI
PySimpleGUIWx
pythonnet
requests
Pillow
opencv-python
numpy
python3_xlib
pyautogui
pywin32
ipython
pytesseract
coverage
dirsync
keyboard==0.11.0
GitPython
Django
django-paranoid
django-jsonfield
channels
imagehash
asgiref
channels_redis
pytz
twilio