{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="allStatistics">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne">Statistics</button>
                    <button id="exportStatisticsJson" type="button" class="float-right btn btn-primary">Export JSON<span style="margin-left: 8px;" class="fa fa-file-export"></span></button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" data-parent="#accordion">
                <div class="card-body">
                    <div id="allStatisticsContent" style="width: 100%;">
                        <h5>Bot Statistics</h5>
                        <table id="allStatisticsBotTable" class="display table table-sm table-borderless table-hover table-striped" style="width: 100%;">
                            <tbody>
                                {% for key, value in bot_statistics.items %}
                                    <tr>
                                        <td>{{ key }}</td>
                                        <td>{{ value }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <hr/>

                        <h5>Game Statistics</h5>
                        <table id="allStatisticsGameTable" class="display table table-sm table-borderless table-hover table-striped" style="width: 100%;">
                            <tbody>
                                {% for key, value in game_statistics.items %}
                                    <tr>
                                        <td>{{ key }}</td>
                                        <td>{{ value }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="jsonData" data-json="{{ STATISTICS_JSON }}" style="display: none;"></div>
{% endblock %}

{% block extra_js %}
    <script src="{% static "js/allStatistics.js" %}"></script>
{% endblock %}