{% extends "base.html" %}
{% load static_buster %}

{% block head_title %}
    Artifacts
{% endblock %}

{% block content %}
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="artifacts">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne">Artifacts</button>
                    <button id="exportArtifactsJson" type="button" class="float-right btn btn-primary">Export JSON<span style="margin-left: 8px;" class="fa fa-file-export"></span></button>
                </h5>
                <hr/>
                <select id="artifactsInstanceSelect" class="form-control">
                        {% for instance in INSTANCES %}
                            <option value="{{ instance.id }}">{{ instance.name }}</option>
                        {% endfor %}
                </select>
            </div>

            <div id="collapseOne" class="collapse show" data-parent="#accordion">
                <div id="artifactsCardBody" class="card-body">
                   {% include "artifacts/artifactsTable.html" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static "js/allArtifacts.js" %}"></script>
{% endblock %}