{% extends "base.html" %}
{% load static_buster %}

{% block head_title %}
    Raid {{ raid.digest }}
{% endblock %}

{% block content %}
        <div id="accordionOne">
        <div class="card">
            <div class="card-header" id="raidBaseHeader">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne">
                        Raid: {{ raid.digest }}
                    </button>
                    <button id="exportRaidJson" type="button" class="float-right btn btn-sm btn-primary">Export JSON<span style="margin-left: 8px;" class="fa fa-file-export"></span></button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" data-parent="#accordionOne">
                <div class="card-body">
                     <table id="raidTable" class="table table-sm table-borderless table-hover table-striped titan-responsive">
                        <tbody>
                            <tr>
                                <td>Digest</td>
                                <td id="raidDigestValue">{{ raid.digest }}</td>
                            </tr>
                            <tr>
                                <td>Instance</td>
                                <td>{{ raid.instance }}</td>
                            </tr>
                            <tr>
                                <td>Parsed</td>
                                <td>{{ raid.parsed.formatted }}</td>
                            </tr>
                            <tr>
                                <td>Clan</td>
                                <td>{{ raid.clan.name }} ({{ raid.clan.code }})</td>
                            </tr>
                            <tr>
                                <td>Number Of Attacks</td>
                                <td>{{ raid.attacks | length }}</td>
                            </tr>
                            <tr>
                                <td>Total Damage</td>
                                <td>{{ raid.total_damage.formatted }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div id="accordionTwo">
        <div class="card">
            <div class="card-header" id="raidVisualHeader">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo">
                        Visualized Raid Result
                    </button>
                </h5>
            </div>

            <div id="collapseTwo" class="collapse show" data-parent="#accordionTwo">
                <div class="card-body" id="raidVisualContent">
                    <div id="raidVisualGraphs">
                        <canvas id="attacksChart" style="display: none;" width="400" height="125"></canvas>
                    </div>
                    <!-- Initial Loader -->
                    <div class="w-100 d-flex justify-content-center align-items-center" id="dashboardRaidLoader">
                        {% include "spinners/bits.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>

     <div id="accordionThree">
        <div class="card">
            <div class="card-header" id="raidBreakdownHeader">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree">
                        Breakdown
                    </button>
                </h5>
            </div>

            <div id="collapseThree" class="collapse show" data-parent="#accordionTwo">
                <div class="card-body">
                    <table id="attacksTable" class="table table-sm table-borderless table-hover table-striped titan-responsive">
                        <thead>
                            <tr>
                                <th>Rank</th>
                                <th>Attacks</th>
                                <th>Damage</th>
                                <th>Member</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for attack in raid.attacks %}
                                <tr>
                                    <td>{{ attack.rank }}</td>
                                    <td>{{ attack.attacks }}</td>
                                    <td data-order="{{ attack.damage.damage }}">{{ attack.damage.formatted }}</td>
                                    <td>{{ attack.member.name }} ({{ attack.member.code }})</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="jsonData" data-json="{{ RAID_JSON }}" style="display: none;"></div>
{% endblock %}

{% block extra_js %}
    <script src="{% static "js/raids/raid.js" %}"></script>
{% endblock %}