{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="raids">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne">
                        Raids
                    </button>
                    <button id="exportRaidsJson" type="button" class="float-right btn btn-primary">Export JSON<span style="margin-left: 8px;" class="fa fa-file-export"></span></button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" data-parent="#accordion">
                <div class="card-body">
                    <table id="raidsTable" class="table table-sm table-borderless table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Digest</th>
                                <th>Parsed</th>
                                <th>Clan</th>
                                <th>Attacks</th>
                                <th>Total Damage</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for raid in raids %}
                                <tr>
                                    <td><a href="{{ raid.url }}">{{ raid.digest }}</a></td>
                                    <td data-order="{{ raid.parsed.epoch }}">{{ raid.parsed.formatted }}</td>
                                    <td>{{ raid.clan.name }} ({{ raid.clan.code }})</td>
                                    <td>{{ raid.attacks | length }}</td>
                                    <td data-order="{{ raid.total_damage.damage }}">{{ raid.total_damage.formatted }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="jsonData" data-json="{{ RAIDS_JSON }}" style="display: none;"></div>
{% endblock %}

{% block extra_js %}
    <script src="{% static "js/raids/raids.js" %}"></script>
{% endblock %}